.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'AlegreyaSansSC-Regular';
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.new__title {
    color: #474747;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 5px;
}

.new__para {
    color: #979C9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.list__title{
    color: var(--Black-Shades-100, #72777A);
font-family: 'AlegreyaSans-Bold';
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.list__para{
    color: var(--White-Shades-900, #979C9E);
font-family: 'AlegreyaSans-Regular';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.active__body{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.app__para{
    padding: 5px 30px;
    border-radius: 10px;
        background-color: var(--second-color, #EEEEEC);
        font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-family: 'AlegreyaSans-Regular';
}
.app__active{
padding: 5px 30px;
    border-radius: 10px;
    background-color: var(--main-color, #FF8201);
    color: #fff;
    font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'AlegreyaSans-Regular';
}
.list__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select{
height: 35px !important;
margin-top: 0 !important;
padding-top: 0 !important;
margin-bottom: 20px;
}
.footer {
    background-color: #EEEEEC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 20px;
}

.footer__link {
    color: var(--Black-Shades-100, #72777A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular' !important;
    text-decoration-line: underline;
}