.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'AlegreyaSansSC-Regular';
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.new__title {
    color: #474747;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 5px;
}

.new__para {
    color: #979C9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
/*--------------------------------*/
.tell__title{
    color: var(--black, #1C1A19);
font-family: 'AlegreyaSans-Regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 50px;
}
.tell__para{
    color: var(--black, #1C1A19);
font-family: 'AlegreyaSans-Regular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.press__btn{
    border-radius: 8px;
        border: 1px solid var(--main-color, #FF8201);
        background-color: #FFF;
        color: #FF8201;
padding: 10px 40px;
text-decoration: none;
margin-right: 10px;
}
.log__btn{
    border-radius: 8px;
        border: 1px solid var(--main-color, #FF8201);
        background-color: #FF8201;
        color: #fff;
        padding: 10px 50px;
        text-decoration: none;
}
.need__para{
border: 1px solid var(--black, #1C1A19);
    background-color: var(--second-color, #EEEEEC);
    padding: 25px ;
    color: var(--black, #1C1A19);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
font-family: 'AlegreyaSans-Bold';
}
.ti__title{
    color: var(--black, #1C1A19);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'AlegreyaSans-Bold';
        margin-top: 35px;
}
.fileImg {
    display: none;
}

.imagecontact {
    position: relative;
    cursor: pointer;
}

.upload__para {
    border-radius: 16px !important;
    background: linear-gradient(180deg, #055618 0%, rgba(11, 90, 30, 0.60) 100%) !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    width: 192px;
    height: 35px;
    padding: 20px 64px 37px;
    color: #fff;
    font-family: 'pptelegraf-regular' !important;
    position: absolute;
    top: 35px;
    left: 85.2%;
}

.img {
    width: 150px;
    height: 150px;
}
.footer {
    background-color: #EEEEEC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 315px;
    margin-bottom: 20px;
}

.footer__link {
    color: var(--Black-Shades-100, #72777A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular' !important;
    text-decoration-line: underline;
}