.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'AlegreyaSansSC-Regular';
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.new__title {
    color: #474747;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 5px;
}
body[dir='rtl'] .new__title{
    text-align: right;
}
.new__para {
    color: #979C9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
/*--------------------------------*/
.tell__title{
    color: var(--black, #1C1A19);
font-family: 'AlegreyaSans-Regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 50px;
}
body[dir='rtl'] .tell__title {
    text-align: right;
}
.tell__para{
    color: var(--black, #1C1A19);
font-family: 'AlegreyaSans-Regular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
body[dir='rtl'] .tell__para {
    text-align: right;
}
.press__btn{
    border-radius: 8px;
        border: 1px solid var(--main-color, #FF8201);
        background-color: #FFF;
        color: #FF8201;
padding: 10px 40px;
text-decoration: none;
margin-right: 10px;
}
.log__btn{
    border-radius: 8px;
        border: 1px solid var(--main-color, #FF8201);
        background-color: #FF8201;
        color: #fff;
        padding: 10px 50px;
        text-decoration: none;
}
.need__para{
border: 1px solid #EEEEEC;
    background-color: transparent;
    padding: 15px ;
    color: var(--black, #1C1A19);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
font-family: 'AlegreyaSans-Bold';
}
.need__input,
.need__input2{
    background-color: transparent !important;
border: none !important;
}
.need__input::placeholder,
.need__input2::placeholder{
    color: var(--black, #1C1A19);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'AlegreyaSans-Bold';
}
.need__input:focus,
.need__input2:focus{
    box-shadow: none !important;
        background-color: transparent !important;

}

.ti__title{
    color: var(--black, #1C1A19);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'AlegreyaSans-Bold';
        margin-top: 35px;
}
body[dir='rtl'] .ti__title{
    text-align: right;
}
.fileImg {
    display: none;
}

.imagecontact {
    position: relative;
    cursor: pointer;
}

.upload__para {
border-radius: 4px;
    background: var(--main-color, #FF8201);
width: 118px;
    height: 37px;
    padding: 8px;
    color: #fff;
font-family: 'AlegreyaSans-Regular';
    position: absolute;
    top: 12px;
    left: 55%;
}
body[dir='rtl'] .upload__para{
    right: 55%;
}
.img {
    width: 150px;
    height: 150px;
}
.im{
    margin-bottom: 70px;
}
.lift__para {
    border: 1px solid #EEEEEC;
    background-color: transparent;
    color: var(--black, #1C1A19);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'AlegreyaSans-Bold';
}
.lift__para p{
    padding: 25px;
    padding-bottom: 10px;
}

.skills__para{
color: var(--black, #1C1A19);
opacity: 0.4;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular';
}
/*-------------------------------------*/
.allpay{
    display: flex;
    align-items: center;
    column-gap: 10%;
    cursor: pointer;
}
.activepay,
.pay{
    background-color: #FF8201;
    padding: 30px 35px 30px 36px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #fff;
        font-family: 'AlegreyaSans-Regular';
        width: 427px;
            height: 172px;
}
.pay{
    background-color: #EEEEEC;
    color: #000;
}
.ico{
    width: 100px;
}
.activepay .active__icon{
    fill:#fff
}
.pay .active__icon{
    fill:#1C1A19
}
.pay__title{
    font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.pay__para{
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
}
.activepay div,
.fixed{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.svg{
    position: relative;
}
.svg__icon{
    position: absolute;
    top:12px;
    left:0px;
        width: 100px;
}
.usd{
    display: flex;
    border-radius: 8px;
        border: 1px solid var(--subtitle-color, #979C9E);
display: flex;
    width: 100px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    }
.usd p{
    padding-top: 13px;
    color: var(--black, #1C1A19);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
                font-family: 'AlegreyaSans-Regular';
}
.hour{
    display: flex;
        width: 885px;
        height: 44px;
        padding: 0px 15px;
        justify-content: space-between;
        align-items: center;
        gap: 210px;
        border-radius: 8px;
            border: 1px solid var(--subtitle-color, #979C9E);
}
.hour p{
padding-top: 13px;
    color: var(--black, #1C1A19);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    font-family: 'AlegreyaSans-Regular';
}
.create__price{
display: flex;
    align-items: center;
    gap: 23px;
margin-bottom: 30px;
}
.create__submit{
    display: flex;
        width: 416px;
        height: 48px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 8px;
        color: #fff;
        text-decoration: none;
            background-color: var(--main-color, #FF8201);
}
.footer {
    background-color: #EEEEEC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 315px;
    margin-bottom: 20px;
}

.footer__link {
    color: var(--Black-Shades-100, #72777A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular' !important;
    text-decoration-line: underline;
}
body[dir='rtl'] .steps__btn{
    text-align: right;
}
body[dir='rtl'] .press__btn{
    margin-left: 10px;
}
body[dir='rtl'] .dir {
    text-align: right !important;
}

body[dir='rtl'] .pay__para {
    text-align: right;

}
body[dir='rtl'] .pay__title {
    text-align: center;

}
.usdico{
    border: none !important;

}
.usdico:focus{
    box-shadow: none !important;
}