.footer {
    background-color: #EEEEEC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 18% !important;
    margin-right: 40px !important;
}

.footer__link {
    color: var(--Black-Shades-100, #72777A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular' !important;
    text-decoration-line: underline;
}
body[dir='rtl'] .footer{
    margin-right: 18% !important;
    margin-left: 40px !important;
}
@media (min-width:600px) and (max-width:900px) {
    .footer{
        margin:30px auto;
        margin-left: 30px !important;
    }
}