.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'AlegreyaSansSC-Regular';
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.new__title {
    color: #474747;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 5px;
}

.new__para {
    color: #979C9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
body[dir='rtl'] .new__title {
    text-align: right;
    padding-right: 5px;
}
.booked {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.loads {
    border-radius: 16px;
    border: 1px solid #cfcfce;
    background: var(--second-color, #EEEEEC);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    width: 390px;
    height: 122px;
    margin-right: 20px;
    padding: 20px 0px 20px 30px;
}

.elli1 {
    height: 120px;
    position: relative;
    left: -1px;
    border-radius: 0 16px 16px 0px;
    -webkit-border-radius: 0 16px 16px 0px;
    -moz-border-radius: 0 16px 16px 0px;
    -ms-border-radius: 0 16px 16px 0px;
    -o-border-radius: 0 16px 16px 0px;
}
.business__img {
    position: relative;
}
.book__img {
    background-color: #FF8201;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: absolute;
    padding: 10px;
    left: 40px;
    top: 35px
}

.book__title {
    color: #585B5C;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    font-family: 'AlegreyaSansSC-Regular';
}

.book__para {
    color: var(--Black-Shades-700, #303437);
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'AlegreyaSansSC-Bold';
}

.book__num {
    color: var(--main-color, #FF8201);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/*------------------------------------------*/
 ul {
     list-style: none;
     margin: auto;
     padding: 0px !important;
 }
 .li {
     display: flex;
     align-items: center !important;
     cursor: pointer;
     margin: 15px 0px 0px 20px !important;
     color: #000;
     text-decoration: none;
     text-transform: uppercase;
     cursor: pointer;
     font-size: 17px !important;
     padding: 5px 15px !important;
     line-height: 1.625rem !important;
     position: relative;
     z-index: 100 !important;
     margin-bottom: 20% !important;
 }

 .li:hover {
     background-color: #fff;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     width: 100%;
 }
 .li:hover::before {
     position: absolute;
     content: '';
     background-image: url('../assets/images/on.png');
    top: 20px;
    left: 42.5%;
         z-index: -10 !important;
     width: 100%;
     height: 84px;
     flex-shrink: 0;
     background-position: center;
     background-repeat: no-repeat;
 }

 .li:hover::after {
     position: absolute;
     content: '';
     background-image: url('../assets/images/in.png');
    top: -37px;
    left: 42.2%;
         z-index: -10 !important;
     width: 100%;
     height: 84px;
     flex-shrink: 0;
     background-position: center;
     background-repeat: no-repeat;
 }
 body[dir='rtl'] .li {
     margin: 35px 20px 0px 0px !important;
 }
         body[dir='rtl'] .li:hover {
             margin: 35px 20px 0px 0px !important;
         }
    
         body[dir='rtl'] .li:hover::after {
             right: 45%;
             background-image: url('../assets/images/inrev.png');
             top: -45px;
    
         }
    
         body[dir='rtl'] .li:hover::before {
             right: 45%;
             background-image: url('../assets/images/onrev.png');
             top: 26px;
         }
 .active {
     display: flex;
     align-items: center !important;
     cursor: pointer;
     margin: 5px 0px 0px 20px !important;
     color: #000;
     text-decoration: none;
     text-transform: uppercase;
     cursor: pointer;
     font-size: .7142em;
     padding: 5px 15px !important;
     line-height: 1.625rem !important;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     width: 100%;
     position: relative;
     background-color: #fff;
     z-index: 100 !important;
        margin-bottom: 20% !important;
 }

 .active::before {
     position: absolute;
     content: '';
     background-image: url('../assets/images/on.png');
     top: 20px;
     left: 42.5%;
     z-index: 1 !important;
     width: 100%;
     height: 84px;
     flex-shrink: 0;
     background-position: center;
     background-repeat: no-repeat;
 }

 .active::after {
     position: absolute;
     content: '';
     background-image: url('../assets/images/in.png');
     top: -37px;
     left: 42.2%;
     z-index: 1 !important;
     width: 100%;
     height: 84px;
     flex-shrink: 0;
     background-position: center;
     background-repeat: no-repeat;
 }
        body[dir='rtl'] .active { 
            margin: 35px 20px 0px 0px !important;
        }
    
        body[dir='rtl'] .active::after {
            right: 45%;
            background-image: url('../assets/images/inrev.png');
            top: -45px;
    
        }
    
        body[dir='rtl'] .active::before {
            right: 45%;
            background-image: url('../assets/images/onrev.png');
            top: 26px;
        }
 .span {

     color: #000 !important;
     margin-left: 10px;
     opacity: 1;
     transition: all .5s ease-in-out;
     width: 10;
     text-align: center;
     border: none;
     background-color: transparent;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
                    font-family: 'AlegreyaSans-Regular';
 }
 body[dir='rtl'] .span{
    margin-right: 10px;
 }
 .insight__jobs{
    background-color: #EEEEEC;
        transition: all .5s ease-in-out;
        border-radius: 20px;
        padding-top: 20px;
        width: 320px;
        font-family: 'AlegreyaSansSC-Regular' !important;
        padding-bottom: 25px;
        height: 870px;
 }
 .insight__para{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
        color: #000 !important;
        padding-left: 10px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            font-family: 'AlegreyaSans-Regular';
 }
 body[dir='rtl'] .insight__para{
    text-align: right;
    padding-right: 10px;
 }
 .logo__body{
    position: relative;
    text-align: center;
 }
 .ellilogo{
    width: 126px;
        height: 125px;
 }
 .logo {
     width: 59.528px;
     height: 60px;
     position: absolute;
     left: 130px;
     top:34px
 }
 .profile__para{
    color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
font-family: 'AlegreyaSans-Regular';
margin: 15px 0;
margin-bottom: 20%;
}
.job__img {
    background-color: #FF8201;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px;
}
/*---------------------------------*/
/*----col2------------------------*/
.summary__chart{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.summary__title{
    color: #000;
font-family: 'AlegreyaSans-Bold';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.summary__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
        background: var(--second-color, #EEEEEC);
        padding: 5px 15px;
    width: 470px;
        height: 34px;
        column-gap: 51px;
}
.summary__body p{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    cursor: pointer;
}
.active__job{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.chart{
    margin-top: 50px;
}
.table{
    margin-top: 40px;
    background-color: rgba(245, 247, 250, 0.50)!important;
    border-radius: 10px;
    padding: 10px;
       
}
.table__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active__title{
    color: var(--Black-Shades-100, #72777A);
font-family: 'AlegreyaSans-Regular';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
body[dir='rtl'] .active__title{
    text-align: right;
}
.active__para{
    color: var(--White-Shades-900, #979C9E);
font-family: 'AlegreyaSans-Regular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
/*---------------------------*/
/*table*/
.tabcontrol {
    background-color: rgba(217, 217, 217, 0.27);

}

.tabs {
    margin-top: 10px;

}

.tabcontrol__title {
    color: var(--Black-Shades-700, #303437) !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    text-transform: capitalize !important;
    font-family: 'AlegreyaSans-Regular' !important;
}
body[dir='rtl'] .tabcontrol__title{
    text-align: right;
}
.tab__para p {
    margin-bottom: 0;
}

.high {
    color: #fff !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 0.277px !important;
    background-color: rgb(170, 12, 12);
    padding: 5px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px 0 !important;
    width: 70%;
    text-align: center !important;
}

.medium {
    color: #fff !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 0.277px !important;
    background-color: #FCC536;
    padding: 5px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px 0 !important;
    width: 70%;
    text-align: center !important;
}

.tab__para1 {
    color: var(--Black-Shades-100, #72777A) !important;
    font-family: 'AlegreyaSans-Regular' !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.tab__para2 {
    color: #848A9C !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: 0.184px !important;
}

.name {
    color: var(--Black-Shades-100, #72777A) !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    font-family: 'AlegreyaSans-Regular' !important;
}

.status {
    display: flex;
    width: 81px;
    height: 30px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background-color: #EBFFEF !important;
    color: #4B9D5A !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.booked__status {
    background-color: #FFF5EA !important;
    color: #E8912C !important;

}

.star {
    color: #FFCB45 !important;
    width: 12px;
}

.star__disable {
    color: #FFEFCD !important;
    width: 12px;
}
.headerinsight{
background-color: var(--second-color, #EEEEEC) !important;
    padding: 10px;
}
body[dir='rtl'] .name {
    text-align: right;
}

body[dir='rtl'] .tab__para1 {
    text-align: right;
}

body[dir='rtl'] .tab__para {
    text-align: right;
}
/*-----------------------------------*/
.footer {
    background-color: #EEEEEC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer__link {
    color: var(--Black-Shades-100, #72777A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'AlegreyaSans-Regular' !important;
    text-decoration-line: underline;
}
@media (min-width:1200px) and (max-width:1400px) {
.summary__chart{
    margin-left: 25px;
}
.summary__body{
    width: 100% !important;
    margin-left:10px ;
    margin-right: 25px;
}
.summary__title{
    font-weight: 400 !important;
    font-size: 12px !important;
    display: none;
}
.job__para{
    font-size: 12px;
}
.active__job{
    font-size: 10px;
}
.chart{
    margin-left: 15px;
}
.table{
    margin-left: 40px;
}
}