.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'AlegreyaSansSC-Regular';
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.new__title {
    color: #474747;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 5px;
}
body[dir='rtl'] .new__title{
    text-align: right;
}
.new__para {
    color: #979C9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.wallet__chart{
    border-radius: 8px;
        border: 1px solid var(--second-color, #EEEEEC);
        background-color: #EEEEEC;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        margin-left: 8px !important;
        width: 98%;
}
.wchart{
background-color: #fff !important;
}
.chartcol{
        padding-right: 0 !important;
}
body[dir='rtl'] .chartcol {
padding-left: 0 !important;
}
.chart__body{
    padding: 90px;
}
.chart__title{
    color: var(--main-color, #FF8201);
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
            font-family: 'AlegreyaSans-Regular';
}
body[dir='rtl'] .chart__title {
    text-align: right;
}
.chart__para{
    color: var(--black, #1C1A19);
    font-family: 'AlegreyaSans-Bold';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
}
body[dir='rtl'] .chart__para {
    text-align: right;
}
.chart__prog{
    background-color: rgba(255, 130, 1, 0.20) !important;
}
.verified{
    border-radius: 8px;
        border: 1px solid rgba(151, 156, 158, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
height: 365px;
}
.verified__body{

        padding: 15px 24px;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.user__body{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.user__body p{
    padding-top: 15px;
    color: var(--black, #1C1A19);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
                    font-family: 'AlegreyaSans-Regular';
}
.balance{
    text-align: center;
    padding-top: 70px;
}
.balance p{
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--black, #1C1A19);
                    font-family: 'AlegreyaSans-Regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.balance h3{
    color: var(--black, #1C1A19);
    font-family: 'AlegreyaSans-Bold';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.btns{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.btns button{
        display: flex;
        padding:5px 30px !important;
        justify-content: center;
        align-items: center;
        gap: 2px;
        border: 1px solid #FF8201;
        border-radius:4px;
        background-color: #FF8201;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
}
.btns button svg{
    width: 10px;
    height: 10px;
}
.btns span{
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'AlegreyaSans-Regular';
}
.invoice{
    border-radius: 8px;
        border: 1px solid rgba(151, 156, 158, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        margin-top: 30px;
        padding: 15px 25px;
}
.invoice__body{
    background-color: var(--222222, #F8F8F7);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.invoice__user{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.invoice__user h2{
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--black, #1C1A19);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
                font-family: 'AlegreyaSans-Regular';
}
.invoice__user p{
    color: var(--subtitle-color, #979C9E);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
                        font-family: 'AlegreyaSans-Regular';
}
.price{
color: var(--black, #1C1A19);
font-family: 'AlegreyaSans-Regular';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.pend__title{
    color: var(--black, #1C1A19);
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
                                font-family: 'AlegreyaSans-Regular';
}
.pend__para{
    color: #979C9E;
                                font-family: 'AlegreyaSans-Regular';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.accordion{
    border-radius: 8px;
        border: 1px solid rgba(151, 156, 158, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        padding: 15px;
        margin-left: 8px !important;
        margin-top:20px ;
}
.date__body{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end !important;
}
body[dir='rtl'] .date__body{
justify-content: flex-start !important;
}
.acc__user{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.acc__body{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    column-gap: 100px;
}
.acc__body p{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    color: var(--black, #1C1A19);
                                font-family: 'AlegreyaSans-Regular';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.pending{
    border-radius: 8px;
        background-color: #FDD78C;
        padding: 5px 20px 5px;
}
.acc__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acc__details h2{
    color: #575555;
        font-family: 'AlegreyaSans-Regular';
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.acc__details p{
    color: #575555;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
        font-family: 'AlegreyaSans-Regular';
}
.hint{
    border-radius: 0px 0px 16px 0px;
        background-color: var(--second-color, #EEEEEC);
        padding: 10px;
        display: flex;
        align-items: center;
        column-gap: 10px;
}
.hint__span {
    width: 100px !important;
    padding-top: 10px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
body[dir='rtl'] .acc__title{
text-align: right;
}
body[dir='rtl'] .acc__para {
    text-align: right;
}
body[dir='rtl'] .pend__title {
    text-align: right;
}
body[dir='rtl'] .pend__para {
    text-align: right;
}
.acc__img{
    width: 50px;
}
@media (min-width:0px) and (max-width:600px) {
    .home {
            display: flex;
            flex-direction: column;
        }
        .chart__body{
            padding: 25px;
        }
                .wallet__chart{
                    width: 97%;
                    display: flex;
                    flex-direction: column;
                }
                .accordion{
                    margin-bottom: 10px;
                    margin-left: 0 !important;
                }
                .chartcol{
                    padding-left: 0 !important;
                }
                                .acc__body{
                                    column-gap: 5px !important;
                                }
                                .acc__body p{
                                    font-size: 8px;
                                }
                                .pending{
                                    padding: 2px;
                                }
                                                                .homeContainer {
                                                                    padding-left: 10px;
                                                                    padding-right: 10px;
                                                                }

}
@media (min-width:600px) and (max-width:900px) {
.acc__body{
    column-gap: 60px;
}
.accordion{
    margin-bottom: 20px;
}
}