.css-h5odmr-MuiButtonBase-root-MuiCheckbox-root {
    display: none !important;
}

.css-8k4lth {
    position: absolute !important;
    top: 970px !important;
    left: 77% !important;
    background-color: #EEEEEC !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
body[dir='rtl'] .css-8k4lth{
    right: 20%;
    left: 0% !important;
    width: fit-content !important;
    margin-bottom: 15% !important;
    top:900px !important;
    height: fit-content;
}
.css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #FF8201 !important;
    color: #fff !important;
}

.css-1yhpg23-MuiTableCell-root,
.css-1a4b21o {
    border-bottom: none !important;
    font-family: 'AlegreyaSans-Regular' !important;
}

.css-1ndpvdd-MuiTableCell-root,
.css-1gzy9y4 {
    background-color: #EEEEEC !important;
    border-bottom: none !important;
    font-family: 'AlegreyaSans-Regular' !important;
    color: var(--title-page) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.css-1ndpvdd-MuiTableCell-root:nth-child(1) {
    border-radius: 10px 0px 0px 0px !important;
    -webkit-border-radius: 10px 0px 0px 0px !important;
    -moz-border-radius: 10px 0px 0px 0px !important;
    -ms-border-radius: 10px 0px 0px 0px !important;
    -o-border-radius: 10px 0px 0px 0px !important;
}

.css-1ndpvdd-MuiTableCell-root:last-child {
    border-radius: 0px 10px 0px 0px !important;
    -webkit-border-radius: 0px 10px 0px 0px !important;
    -moz-border-radius: 0px 10px 0px 0px !important;
    -ms-border-radius: 0px 10px 0px 0px !important;
    -o-border-radius: 0px 10px 0px 0px !important;
}

.css-exd1zr {
    display: none !important;
}

textarea.form-control {
    background-color: #F8F8F7 !important;
    margin-bottom: 70px;
}

textarea.form-control::placeholder {
    color: var(--black, #a19e9d);
    font-family: 'AlegreyaSans-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second__step textarea.form-control {
    margin-bottom: 0;
}

.imagecontact .form-control {
    background-color: #EEEEEC !important;
    width: 1000px;
}

.imagecontact .form-control::placeholder {
    color: var(--black, #1C1A19);
    font-family: 'AlegreyaSans-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mantine-yxmaw9 {
    display: none !important;
}

.progress-bar {
    background-color: #FF8201 !important;
}

.mantine-1bauqbv {
    display: none !important;
}
.mantine-15m2thz[data-active]{
    background-color: #FF8201 !important;
}
.mantine-augnbd[data-hover]>tbody>tr{
    background-color: transparent !important;
}
body[dir='rtl'] .accordion-button::after{
    margin-right: auto !important;
    margin-left: 0 !important;
}
body[dir='rtl'] .mantine-2kfh7k{
    text-align: right !important;
}
.form-select {
    width: 120px !important;
    height: 50px !important;
}

.form-select:focus {
    box-shadow: none !important;
    outline: none !important;

}

.select-project .form-select {
    width: 70px !important;
    height: 40px !important;
    background-color: var(--second-color, #EEEEEC) !important;
}

.css-1ex1afd-MuiTableCell-root {
    border-bottom: none !important;
}

.accordion-item {
    margin-bottom: 20px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid #F8F8F7 !important;
}

.accordion-item .accordion-button {
    border-radius: 4px !important;
    background-color: var(--222222, #F8F8F7) !important;
}

.accordion-item:focus {
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-body {
    background-color: rgba(151, 156, 158, 0.40) !important;
}

.form__send textarea.form-control {
    background-color: #fff !important;
    margin: 40px 22px 10px 22px;
    width: 94%;
}

.form__send textarea.form-control::placeholder {
    padding-top: 5px;
    color: var(--subtitle-color, #979C9E);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.view__active .mantine-1avyp1d {
    display: block !important;
    display: table-cell;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    width: 600px;
}

/************************************/
.mantine-kq5u63 {
    display: none !important;
}

.mantine-a5v3r0[data-with-border] {
    border: none !important;
    box-shadow: none !important;
}

.mantine-augnbd>thead>tr>th {
    border-bottom: none !important;
}

.mantine-augnbd>tbody>tr>td {
    border-top: none !important;
}

.mantine-1qybf08:nth-child(2) {
    background-color: #EEEEEC !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.shipment_first__Myu7y div .form-control {
    width: 400px !important;
    color: var(--subtitle-color, #979C9E) !important;
    font-family: 'AlegreyaSans-Regular' !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.shipment_first__Myu7y div label,
.shipment_second__CNIXc div label {
    color: var(--black, #1C1A19) !important;
    font-family: 'AlegreyaSans-Bold' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500;
    line-height: normal !important;
}

.input-group-text {
    background-color: var(--subtitle-color, #979C9E) !important;
    color: #fff !important;
}

.shipment_second__CNIXc div .form-control {
    width: 418px !important;
    color: var(--subtitle-color, #979C9E) !important;
    font-family: 'AlegreyaSans-Regular' !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.shipment_second__CNIXc div .form-control:focus,
.shipment_first__Myu7y div .form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-control::placeholder {
    color: var(--subtitle-color, #979C9E);
    font-family: 'AlegreyaSans-Regular' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.create_need__para__oUS3q textarea.form-control {
    margin-bottom: 0 !important;
    background-color: transparent !important;
}

.create_need__para__oUS3q textarea.form-control::placeholder {
    color: var(--black, #1C1A19) !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    font-family: 'AlegreyaSans-Bold' !important;
}
.css-1a4b21o{
    border-bottom: none !important;
}