body {
  margin: 0;
font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Alegreya Sans SC', sans-serif;
}

@font-face {
  font-family: 'AlegreyaSansSC-Regular';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Light';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Bold';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Bold.ttf);
}
.choose__input .mantine-gszoqu{
  border-radius: 6px !important;
  border: 1px solid var(--gray-emy, #AFAFAF) !important;
  background: #FFF !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  width: 100% !important;

}
.date .mantine-gszoqu{
    border-radius: 6px !important;
      border: 1px solid var(--gray-emy, #AFAFAF) !important;
      background: #FFF !important;
      -webkit-border-radius: 6px !important;
      -moz-border-radius: 6px !important;
      -ms-border-radius: 6px !important;
      -o-border-radius: 6px !important;
}

.choose__input{
    margin-top: 20px !important;
}
.card__input .mantine-gszoqu{
  padding-left: 35px !important;
}
.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}
.pay__table .css-1ndpvdd-MuiTableCell-root{
  background-color: #fff !important;
  border-right: 2px solid #EEEEEC !important;
}
.pay__table .css-rqglhn-MuiTable-root{
box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02) !important;
border-left: 3px solid #EEEEEC !important;
border-right: 3px solid #EEEEEC !important;
margin-top: 35px !important;

}
.pay__table .css-8k4lth{
  left: 20% !important;
}
.pay__table .css-1v8abvc-MuiInputBase-root-MuiOutlinedInput-root{
    display: flex !important;
    width: 659px !important;
    padding: 5px 24px !important;
    align-items: center !important;
    border-radius: 8px !important;
    background: var(--second-color, #EEEEEC) !important;
    border: 1px solid #EEEEEC !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
.other__table .css-rqglhn-MuiTable-root{
  width: 50% !important;
  margin: auto;
}