body {
  margin: 0;
font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Alegreya Sans SC', sans-serif;
}

@font-face {
  font-family: 'AlegreyaSansSC-Regular';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Light';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Bold';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Bold.ttf);
}
.form-select{
  width: 120px !important;
  height: 50px !important;
}
.form-select:focus{
  box-shadow: none !important;
outline: none !important;
}
.css-1ex1afd-MuiTableCell-root{
  border-bottom: none !important;
}
.accordion-item{
  margin-bottom: 20px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
.accordion-item:not(:first-of-type){
  border-top:1px solid #F8F8F7 !important ;
}
.accordion-item .accordion-button{
  border-radius: 4px !important;
    background-color: var(--222222, #F8F8F7) !important;
}
.accordion-item:focus{
  box-shadow: none !important;
}
.accordion-button:focus{
  box-shadow: none !important;
}
.accordion-body{
  background-color: rgba(151, 156, 158, 0.40) !important;
}
.form__send textarea.form-control {
  background-color: #fff !important;
margin: 40px 22px 10px 22px;
width: 94%;
}
.form__send textarea.form-control::placeholder {
padding-top: 5px;
color: var(--subtitle-color, #979C9E);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}