body {
  margin: 0;
font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Alegreya Sans SC', sans-serif;
}

@font-face {
  font-family: 'AlegreyaSansSC-Regular';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Light';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf);
}

@font-face {
  font-family: 'AlegreyaSansSC-Bold';
  src: url(/src/assets/font/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url(/src/assets/font/Alegreya_Sans/AlegreyaSans-Bold.ttf);
}
.form-select{
  width: 120px !important;
  height: 50px !important;
}
.form-select:focus{
  box-shadow: none !important;
outline: none !important;
}
.css-1ex1afd-MuiTableCell-root{
  border-bottom: none !important;
}